{% extends 'base.html' %}

{% block content %}
    <h2>Ma collection</h2>  
    <form method="GET" action="{% url 'search_book' %}">
        <input type="text" name="query" placeholder="Rechercher un livre">
        <button type="submit">Rechercher</button>
    </form>
    <p><a class="add-book" href="{% url 'add-book' %}">Ajouter un livre</a></p>
    {% for book in page_obj %}
        <li>
            <a href="{% url 'book_detail' book.id %}">{{ book.name }}</a>
            <a href="{% url 'delete_book' book.id %}" style="margin-left: 20px;">Supprimer</a>
        </li>
    {% empty %}
        <li>Aucun livre trouvé.</li>
    {% endfor %}
    
    <h2>Valeur: {{ total_price }}€</h2>
    
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Précédent</a>
        {% endif %}
    
        <span class="current-page">Page {{ page_obj.number }}</span>
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Suivant</a>
        {% endif %}
    </div>


{% endblock content %}
