 a {
     color: #FF0000;
     text-decoration: none;
 }

 body {
     font-family: 'Bangers', cursive;
 }

 h1.my-collection {
     text-align: center;
     margin-top: 20px;

 }

 h1.my-collection a:hover {
     color: #FF0000;
 }

 h1 {
     color: #FF0000;
 }

 h2 {
     color: #FF0000;
     font-weight: normal;
 }

 .sidebar {
     width: 220px;
     text-align: center;
     margin-top: 100px;
     padding-top: 10px;
     padding-bottom: 10px;
     float: left;
 }

 .sidebar a {
     color: #f2b63d;
     display: block;
 }

 body {
     background-color: #1f2126;
 }

 .main {
     margin: 0 auto;
     padding: 20px;
     text-align: center;
     max-width: 800px;
     color: #FF0000;
 }


 a:hover {
     color: #f2b63d
 }

 .form-book {
     color: #FF0000;

 }

 .sub-menu {
     display: none;
     text-align: left;
 }

 .main-menu li:hover .sub-menu {
     display: block;

 }

 ul {
     list-style-type: none;
 }

 li {
     list-style: none;
 }